<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppTitle" value="GRBL G-Code Optimizer"/>
    <add key="OptimizedByComment" value="Optimzed by GRBL G-Code Optimizer" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>